<h1>{{data.title}}</h1>

<form action="/sessions/create" method="POST">
  <fieldset>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" autofocus="true">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </fieldset>

  <button>Log In</button>
</form>
